/* ---------- GLOBAL ----------- */
* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}


:root {
  --darkest-bg-color: #b24141;
  --mid-bg-color: #ffc5c5;
  --red-bg: #ff3131;
}

body {
  margin: 0;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}

/* ---------- TOP RED SECTION ----------- */

.top-section {
  background-color: var(--red-bg);
  height: 260px;
  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 40px;
}

/* white square */
.rectangle {
  width: 120px;
  height: 120px;
  background-color: white;
  border-radius: 25px;
  z-index: 10;
}

/* circle decorations */
.circle {
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: white;
  opacity: 0.15;
}

.c1 {
  top: 5px;
  left: -25px;
}
.c2 {
  bottom: 25px;
  left: 10px;
}
.c3 {
  bottom: 5px;
  right: -20px;
}

/* ---------- LOGIN SECTION ----------- */

.login-section {
  background: white;
  width: 100%;
  min-height: 600px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -40px;
  padding: 40px 25px;
  text-align: center;
}

/* headings */
.login-section h1 {
  font-size: 32px;
  margin: 0;
  font-weight: 700;
}

.subtitle {
  margin-top: 5px;
  font-size: 14px;
  color: #555;
}

/* form */
.form {
  margin-top: 30px;
  text-align: left;
}

.form label {
  font-size: 12px;
  font-weight: bold;
  color: #888;
}

.form input {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 14px;
  margin: 8px 0 18px;
  font-size: 16px;
  background: #e6e6e6;
  border: none;
  border-radius: 12px;
}

button {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
  background: #000;
  color: white;
  border: none;
  border-radius: 12px;
}

/* register link */
.register {
  margin-top: 25px;
  font-size: 14px;
}

.register a {
  font-weight: bold;
  color: #000;
  text-decoration: underline;
}

/* impressum */
.impressum {
  margin-top: 30px;
  font-size: 12px;
  color: #999;
}
