body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
  margin: 0;
  overflow-x: hidden;
}

.container{
    font-weight: bold;
    text-align: center;
}

.header, .content-top, .content, .header-admin{
  padding: 10px;
  overflow: hidden;
  position: relative;
}

.content-hunt-finish{
  padding-left: 10px;
  margin-bottom: -160px;
  overflow: hidden;
  position: relative;
}

.content-total-stats{
  padding-left: 10px;
  margin-bottom: -180px;
  overflow: hidden;
  position: relative;
}

.footer{
  padding: 10px;
  overflow: hidden;
  position: relative;
}

.semi-footer{
  padding: 10px;
  overflow: hidden;
  position: relative;
  height: 100px;
}

.header{
  background-color: white;
  border-top-right-radius: 30px;
}

.header-admin{
  background-color: white;
  border-top-left-radius: 30px;
}

.table_users {
    display: grid;
    grid-template-columns: auto;
    background-color: white;
    padding: 10px;

    /* New properties for scrolling */
    max-height: 300px; /* adjust this height as needed */
    overflow-y: auto;  /* vertical scroll if content exceeds max-height */
}

.table_users::-webkit-scrollbar {
  width: 8px;
}

.table_users::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.table_users_queue {
    display: grid;
    grid-template-columns: auto;
    background-color: white;
    padding: 10px;

    /* New properties for scrolling */
    max-height: 300px; /* adjust this height as needed */
    overflow-y: auto;  /* vertical scroll if content exceeds max-height */
}

.table_users_queue::-webkit-scrollbar {
  width: 8px;
}

.table_users_queue::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.table_users_pc {
    display: grid;
    grid-template-columns: auto;
    background-color: white;
    padding: 10px;

    /* New properties for scrolling */
    max-height: 600px; /* adjust this height as needed */
    overflow-y: auto;  /* vertical scroll if content exceeds max-height */
}

.table_users_pc::-webkit-scrollbar {
  width: 8px;
}

.table_users_pc::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.table_users_admin {
    display: grid;
    grid-template-columns: auto;
    background-color: white;
    padding: 10px;

    /* New properties for scrolling */
    max-height: auto; /* adjust this height as needed */
    overflow-y: auto;  /* vertical scroll if content exceeds max-height */
}

.table_users_admin::-webkit-scrollbar {
  width: 8px;
}

.table_users_admin::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.table_users_admin-editor {
  /* OLD
    display: grid;
    grid-template-columns: auto;
    background-color: white;
    padding: 10px;

    max-height: 200px;
    overflow-y: auto;  
  */

    display: flex;
    flex-direction: column;
    grid-template-columns: auto;
    background-color: white;
    padding: 10px;

    /* New properties for scrolling */
    max-height: 200px; /* adjust this height as needed */
    overflow-y: auto;  /* vertical scroll if content exceeds max-height */
}

.table_users_admin-editor::-webkit-scrollbar {
  width: 8px;
}

.table_users_admin-editor::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}


.collapsible{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-weight: bold;
}


.non-collapse{
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  width: auto;
  text-align: left;
  outline: 1px solid #444;
  font-size: 15px;
}

.non-collapse-top{
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  width: auto;
  text-align: left;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  outline: 1px solid #444;
  font-size: 15px;
}

.non-collapse-bottom{
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  width: auto;
  text-align: left;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: 1px solid #444;
  font-size: 15px;
}

.non-collapse_queue{
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  width: auto;
  text-align: center;
  outline: 1px solid #444;
  font-size: 15px;
}

.non-collapse-top_queue{
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  width: auto;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  outline: 1px solid #444;
  font-size: 15px;
}

.non-collapse-bottom_queue{
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  width: auto;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: 1px solid #444;
  font-size: 15px;
}

.non-collapse-admin{
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  width: auto;
  text-align: left;
  outline: 1px solid #444;
  font-size: 15px;
}

.non-collapse-top-admin{
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  width: auto;
  text-align: left;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  outline: 1px solid #444;
  font-size: 15px;
}

.non-collapse-bottom-admin{
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  width: auto;
  text-align: left;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: 1px solid #444;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ffffff;
}

/* Style the collapsible content. Note: hidden by default */
.col-text {
  padding: 0 18px;
  font-style: italic;
  max-height: 0;
  display: block;
  overflow: hidden;
  background-color: #cfcece;
  text-align: left;
  transition: max-height 0.3s ease;
  border-radius: 10px;
}

.blue-btn{
    background-color: #0cc0df;
    box-shadow: 8px 8px #0e5864;
    color: white;
    border-radius: 10px;
    border-color: #0cc0df;
    height: 60px;
    width: 50%;
    font-size: 180%;
    font-weight: bold;
}

.red-btn{
    background-color: #ff3131;
    box-shadow: 8px 8px #5b1313;
    color: white;
    border-radius: 10px;
    border-color: #ff3131;
    height: 60px;
    width: 50%;
    margin-bottom: 15px;
    font-size: 150%;
    font-weight: bold;
}

.black-btn{
  background-color: black;
  color: white;
  border-color: black;
  width: 75%;
  height: 40px;
  border-radius: 5px;
  font-weight: bolder;
  margin-top: 10px;
}

#logo{
  display: block;
  margin: 0 auto;
  height: 25vh;
  width: 25vh;
  background-color: white;
  border-radius: 70px;
  margin-top: 40px;
}

.edit_png{
  height: 30px;
  width: 30px;
  float: right;
  flex-shrink: 0;
}

.radio-btns{
  margin: auto;
}

.blue-btn-admin{
    position: relative;
    top: 90%;
    right: 5%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #0cc0df;
    box-shadow: 8px 8px #0e5864;
    color: white;
    border-radius: 10px;
    border-color: #0cc0df;
    height: 60px;
    width: 50%;
    font-size: 180%;
    font-weight: bold;
}

.animal-counter{
  width: fit-content;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
}

.table-header {
  display: flex;
  justify-content: space-between; /* links & rechts */
  align-items: center;            /* vertikal mittig */
}

.table-header .left {
  margin-right: 10px;
}

.table-header .right {
  margin-left: 10px;
}

.divider{
  border-top: 1px solid #8f8e8e;
  margin: 20px 0 auto 0;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none;
  background: none; /* optional */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.data-input{
  position: relative;
  margin-bottom: 10px;
}

.data-input .label{
  color:#4d4c4c;
  margin-bottom: 4px;
  display: block;
  text-align: left;
  margin: 0 auto 6px auto;
  width: 75%;
  font-size: 0.75rem;
}

.data-input .textbox{
  border: none;
  background-color:#cacaca;
  color: #4d4c4c;
  border-radius: 10px;
  height: 30px;
  width: 75%;
  padding-left: 10px;
}

.data-input-admin{
  position: relative;
  margin-bottom: 10px;
}

.data-input-admin .label-admin{
  color:#4d4c4c;
  margin-bottom: 4px;
  margin-top: 4px;
  display: block;
  text-align: left;
  float: left;
  margin: 0 auto 6px auto;
  width: 75%;
  font-size: 0.75rem;
}

.data-input-admin .textbox-admin{
  border: none;
  float: left;
  background-color:#cacaca;
  color: #4d4c4c;
  border-radius: 10px;
  height: 30px;
  font-weight: bold;
  width: 75%;
  padding-left: 10px;
}

.login-title{
  margin-bottom: 4px;
}

.login-subtitle{
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.impressum{
  text-decoration: none;
  color: #4d4c4c;
  font-size: 10px;
}

.login-hypers{
  text-decoration: none;
  color: black;
  text-decoration: underline black;
}

.header-img{
  height: 40px;
  width: 40px;
}

.header-img-2{
  height: 40px;
  width: 40px;
  text-align: center;
  float: right;
}

.footer-img-left{
  height: 60px;
  width: 60px;
  display: block;
  margin: 0 auto;
}

.footer-img-right{
  height: 60px;
  width: 60px;
  display: block;
  margin: 0 auto;
}


#session-id{
  border: none;
  background-color:#cacaca;
  color: #4d4c4c;
  border-radius: 10px;
  height: 50px;
  width: 70%;
  text-align: center;
  font-size: 180%;
}

.disabled-btn{
  background-color: #cacaca;
  color: #4d4c4c;
  border: 1px solid black;
  width: 60%;
  height: 50px;
  border-radius: 10px;
  font-weight: bolder;
  margin-top: 10px;
}

.session-box {
  display: flex;
  justify-content: center;  /* horizontal zentrieren */
  margin: 20px auto;        /* Abstand oben/unten + zentriert */
  border: 4px solid #ff3131; /* kräftige rote Umrandung */
  border-radius: 10px;
  width: fit-content;       /* passt sich Inhalt an */
  background-color: transparent; /* außen transparent */
}

.session-box-in {
  background-color: #5b1313; /* dunkelrot */
  padding: 20px 10px;        /* innen Abstand */
  border-radius: 6px;
  color: white;
}

.session-box-in h4 {
  color: white;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.session-box_create {
  display: flex;
  justify-content: center;  /* horizontal zentrieren */
  margin: 0px auto;        /* Abstand oben/unten + zentriert */
  border: 4px solid #ff3131; /* kräftige rote Umrandung */
  border-radius: 10px;
  width: 80%;       /* passt sich Inhalt an */
  background-color: transparent; /* außen transparent */
}

.session-box-in_create {
  background-color: #5b1313; /* dunkelrot */
  padding: 20px 10px;        /* innen Abstand */
  border-radius: 6px;
  width: 100%;
  color: white;
}

.session-box-in_create h4 {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}

.error-text {
    color: #ff3131;
    font-size: 8px;
    display: block;
    margin-top: 3px;
    text-align: left;
    width: 50%; /* passend zu deinen Input-Feldern */
    margin-left: auto;
    margin-right: auto;
}

.error-text-2 {
    color: #ff3131;
    font-size: 12px;
    display: block;
    margin-top: 3px;
    text-align: left;
    width: 70%; /* passend zu deinen Input-Feldern */
    margin-left: auto;
    margin-right: auto;
}

.input-error {
  border: 2px solid #ff3131 !important;
  outline: none;
}

.header-bg{
      height: 100%;
      background: #ff3131;
      padding: 10px;
}

.bg-wrapper{
  overflow: hidden;
  background: #ff3131;
}

.bg-wrapper-2{
  overflow: hidden;
  background: #5b1313;
}

.bg-dark{
      background: #5b1313;
      padding: 6px;
      border-top-right-radius: 10px;
      z-index: 2;
}

.bg-dark-admin{
      background: #5b1313;
      padding: 6px;
      border-top-left-radius: 10px;
}

.bg-light{
      background: #ffc5c5;
      padding: 6px;
      border-top-right-radius: 20px;
      z-index: 2;
}

.bg-light-admin{
      background: #ffc5c5;
      padding: 6px;
      border-top-left-radius: 20px;
}

.bg-wrapper-header{
  position: relative;
  overflow: hidden;
  background: #ffc5c5;
}

.content-top .target-circle{
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(0.75);
  pointer-events: none;
}

.target-circle {
  position: absolute;      /* relative to viewport */
  pointer-events: none;
  right: -60px;
}


/* Alle einzelnen Kreise */

#hunt_join_1{
  position: fixed;
  top: 70%;
  right: -60px;
  transform: translateY(-50%) scale(2);
  pointer-events: none;
}

#hunt_join_2{
  position: fixed;
  top: 95%;
  left: 0;
  transform: translate(-50%, -50%) scale(2);
  pointer-events: none;
  z-index: -1;
}

#register_2{
  position: fixed;
  left: -60px;
  bottom: -15%;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: -1;
}

#register_2-admin{
  position: fixed;
  height: 140px;
  left: -60px;
  bottom: -15%;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: -1;
}

#pc_list_1{
  position: fixed;
  top: 90%;
  right: -60px;
  transform: translateY(-50%) scale(2);
  pointer-events: none;
}

#pc_list_2{
  position: fixed;
  top: 100%;
  left: 0;
  transform: translate(-50%, -50%) scale(1.25);
  pointer-events: none;
  z-index: -1;
}

#rating_choice_1{
  position: fixed;
  top: 100%;
  right: -60px;
  transform: translateY(-50%) scale(3);
  pointer-events: none;
}

.circle1 {
  height: 120px;
  width: 120px;
  background-color: #3e526a;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.circle2 {
  height: 100px;
  width: 100px;
  background-color: #84afd0;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.circle3 {
  height: 80px;
  width: 80px;
  background-color: #fdf3e6;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.circle4 {
  height: 60px;
  width: 60px;
  background-color: #84afd0;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle5 {
  height: 40px;
  width: 40px;
  background-color: #d86455;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.circle6 {
  height: 20px;
  width: 20px;
  background-color: #fbd279;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logout-header{
  height: 40px;
  width: 40px;
  float: left;
}

.create-btn{
  margin-top: 20%;
  background-color: #ff3131;
  box-shadow: 15px 15px #5b1313;
  color: white;
  border-radius: 12px;
  border-color: #ff3131;
  height: 100px;
  width: 80%;
  margin-bottom: 50px;
  font-size: 220%;
  font-weight: bold;
}

.join-btn{
  background-color: #0cc0df;
  box-shadow: 15px 15px #0e5864;
  color: white;
  border-radius: 12px;
  border-color: #0cc0df;
  height: 100px;
  width: 80%;
  font-size: 220%;
  font-weight: bold;
  margin-bottom: 30%;
}

.hunt-headline {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(5rem, 8vw, 6rem);
  line-height: 1;
}



.footer-img-left-wrapper{
  position: absolute;      /* relative to the viewport, not semi-footer */
  left: 10%;             /* distance from left edge */
  bottom: 0;         /* distance from bottom of screen */
  text-align: center;
  display: block;
}

.footer-img-right-wrapper{
  position: absolute;      /* relative to the viewport */
  right: 10%;            /* distance from right edge */
  bottom: 0;
  text-align: center;
  display: block;
}

.footer-label-left{
  font-size: 12px;
  margin-top: 5px;
  color: #000;
}

.footer-label-right{
  font-size: 12px;
  margin-top: 5px;
  color: #000;
}

.blue-parcour-btn{
    background-color: #0cc0df;
    box-shadow: 8px 8px #0e5864;
    color: white;
    border-radius: 10px;
    border-color: #0cc0df;
    height: 60px;
    width: 50%;
    font-size: 100%;
    font-weight: bold;
}

.content-top-index{
  position: relative;
  height: 80px;
}

.header-hunt-join {
  padding: 20px;
  background-color: white;
  border-top-right-radius: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#hunt_join_outer_oval {
  width: 250px;
  height: 150px;
  background: #0e5864;
  border-radius: 50px / 50px;

  display: flex;
  flex-direction: column;       /* stack text vertically */
  align-items: center;          /* horizontal centering */
  justify-content: center;      /* vertical centering */
  gap: 10px;                    /* spacing between elements */

  color: white;
}

#hunt_join_outer_oval p{
  margin: 0;
  font-weight: bold;
}

#hunt_join_inner_oval {
  flex-shrink: 0;
  width: 350px;
  height: 75px;
  background: #0cc0df;
  border-radius: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-shadow: 3px 3px #0e5864;
  font-size: 200%;
  font-weight: bold;
  color: white;
}

#hunt_create_outer_oval {
  width: 250px;
  height: 150px;
  background: #5b1313;
  border-radius: 50px / 50px;

  display: flex;
  flex-direction: column;       /* stack text vertically */
  align-items: center;          /* horizontal centering */
  justify-content: center;      /* vertical centering */
  gap: 10px;                    /* spacing between elements */

  color: white;
}

#hunt_create_outer_oval p{
  margin: 0;
  font-weight: bold;
}

#hunt_create_inner_oval {
  flex-shrink: 0;
  width: 350px;
  height: 75px;
  background: #ff3131;
  border-radius: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-shadow: 3px 3px #801616;
  font-size: 300%;
  font-weight: bold;
  color: white;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(45deg);
  transition: transform 0.25s ease; /* smooth rotation */
}

.collapsible.active .arrow {
  border-color: #0cc0df;
  transform: rotate(-135deg);
}

#arrow_img_1 {
  position: fixed;  /* stick to viewport */
  bottom: -80px;     /* small offset from bottom */
  right: -30px;       /* small offset from left */
  height: 200px;     /* adjust as needed */
  width: 200px;      /* adjust as needed */
  opacity: 0.8;
  transform: rotate(75deg);
  z-index: 1000;    /* make sure it’s above other elements */
}

#arrow_img_2 {
  position: fixed;  /* stick to viewport */
  bottom: -30px;     /* small offset from bottom */
  right: -40px;       /* small offset from left */
  height: 200px;     /* adjust as needed */
  width: 200px;      /* adjust as needed */
  opacity: 0.8;
  transform: rotate(90deg);
  z-index: 1000;    /* make sure it’s above other elements */
}

#leaveOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55); /* dunkler Hintergrund */
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 99999; /* EXTREM wichtig */
}

#leaveModal {
  background: white;
  width: 240px;
  height: 140px;
  border-radius: 12px;
  padding: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Text oben, Buttons unten */

  text-align: center;
  box-shadow: 8px 8px 25px rgba(0,0,0,0.4);
}


#leaveModal h3 {
  line-height: 1.3;
  margin-top: 5px;
}


.leave-actions {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 5px;
}

#leaveYes {
  flex: 1;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff3131;
  box-shadow: 4px 4px #5b1313;
  color: white;
  border-radius: 10px;
  padding: 8px;
  font-weight: bold;
  font-size: 14px;
}

#leaveNo {
  flex: 1;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0cc0df;
  box-shadow: 4px 4px #0e5864;
  color: white;
  border-radius: 10px;
  padding: 8px;
  font-weight: bold;
  font-size: 14px;
}


#rectangle {
  padding: 10px;
  width: 90%;
  margin: 0 auto;
  background: #0e5864;
  border-radius: 30px;
}

.rectangle-user {
  display: flex;
  justify-content: space-between; /* links & rechts */
  align-items: center;            /* vertikal zentriert */

  margin: 10px 0;
  padding: 5px  15px;

  color: white;
  background: #0cc0df;
  border-radius: 20px;
}

.rectangle-user.winner .user-score::before {
  content: "🏆";
  margin-right: 8px;
  font-size: 1.1em;
}


.rectangle-user h3 {
  margin: 0;
}

#stats_h1 {
  margin-top: 30px;
  font-size: 250%;
  display: flex;
  justify-content: center;
  align-items: center;   /* vertikal zentrieren */
  gap: 5px;             /* Abstand Text ↔ Icon */
}


.charts-img {
  height: 50px;          /* etwas kleiner wirkt oft besser */
  width: 50px;
}

/* Linker Block (Punkt + Text) */
.pc-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Punkt allgemein */
.pc-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  flex-shrink: 0;
}

/* Schwierigkeitsfarben */
.pc-dot.easy {
  background-color: #3bd671; /* grün */
}

.pc-dot.medium {
  background-color: #f4c430; /* gelb */
}

.pc-dot.hard {
  background-color: #e53935; /* rot */
}

.silhouette-box{
  background-color: #ff3131;
  box-shadow: 12px 12px #5b1313;
  color: white;
  border-radius: 10px;
  border-color: #ff3131;
  height: 150px;
  width: 75%;
  font-size: 150%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.silhouette-box-admin{
  background-color: #ff3131;
  box-shadow: 6px 6px #5b1313;
  color: white;
  border-radius: 10px;
  border-color: #ff3131;
  height: 130px;
  width: 100%;
  font-size: 150%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

.silhouette-box-admin.selected {
  background-color: #0cc0df;
  box-shadow: 8px 8px #0e5864;
  border-color: #0cc0df;
}


.silhouettes-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 Boxen pro Reihe */
  gap: 16px; /* Abstand zwischen Boxen */
  max-height: 420px; /* Höhe des scrollbaren Bereichs */
  overflow-y: auto;   /* vertikal scrollen, wenn Inhalt größer ist */
  padding: 10px;
}

.silhouettes-grid::-webkit-scrollbar {
  width: 8px;
}

.silhouettes-grid::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}



.points-box{
    background-color: #0cc0df;
    box-shadow: 10px 10px #0e5864;
    color: white;
    border-radius: 10px;
    border-color: #0cc0df;
    height: 80px;
    width: 75%;
    font-size: 180%;
    font-weight: bold;
    margin: 0 auto 16px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.score_counter-footer{
  text-shadow: 2px 2px #8a8a8a;
}

#score_counter-parcour-name{
  color: white;
  font-size: 3rem;
  text-shadow: 3px 3px #836d6d;
  text-align: center;
  margin-bottom: -10px;
}

.page-score {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-score .container-score .footer {
  margin-top: auto;
}


.header-bg-score {
  position: relative; /* wichtig für die absolute Position des Halbkreises */
  height: 100%;
  background: #ff3131;
  padding: 10px;
  text-align: center;
  color: white;
  font-family: sans-serif;

}

.score-container {
  position: relative; /* damit es über dem Halbkreis liegt */
  display: inline-flex;
  align-items: baseline;
  gap: 0.25rem;
  font-size: 1.2rem;
}

.score-container .current-score {
  font-size: 4rem; /* größere Zahl */
  font-weight: bold;
  z-index: 1;
}

.semi-circle {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;       /* Breite des Halbkreises */
  height: 40%;      /* Hälfte der Breite für perfekten Halbkreis */
  background-color: #000;
  z-index: 0;
  border-radius: 50% 50% 0 0; /* exakt die Hälfte der Breite als Radius */
}

.reg-score-text{
  color: white;
  font-size: 2rem;
  text-align: center;
  z-index: 1;
}

.sortable-ghost {
  opacity: 0.5;      /* halbtransparent beim Ziehen */
  background-color: #ffe6e6; /* optional andere Farbe */
}

.drag-handle {
  cursor: grab;           /* Maus zeigt, dass es ziehbar ist */
  margin-right: 10px;     /* Abstand zum Text */
  font-size: 18px;        /* Größe des Symbols */
  display: inline-block;
  touch-action: none;
  user-select: none;      /* verhindert Textauswahl beim Ziehen */
}
.drag-handle:active {
  cursor: grabbing;
}

.animal-text{
  flex: 1;
}